body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /*     theme colours
    #0D0259 midnight bluish
    #77B9F2 light blue
    #0367A6 dark blue
    #4F5902 dark forest green
    #262401 dark grey
    #f5f5f5 */
  /* or 353535,3c6e71,ffffff,d9d9d9,284b63 */
  background-color: #f5f5f5;
}
/* .maincontainer {
  width: 75%;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  max-width: 60rem;
} */

.headercontainer {
  /* width: 95vw; */
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

/* navigation container */
nav {
  background: #3c6e71;
  /* padding: 0 1.125rem;
  display: flex;
  flex-direction: row; */
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.5rem;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: space-around; */
}
nav ul li {
  cursor: pointer;
  padding: 0.5rem;
  flex: auto;
  /* text-align: center; */
}
nav ul li:hover {
  background-color: #284b63;
  /* color: white; */
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: #d9d9d9;
}
nav a:visited {
  color: white;
}

/* for phones etc */
@media all and (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    text-align: center;
  }
}

.coverimage {
  /* width: 95vw;
  height: 100vh; */
  /* max-width: 60rem; */
  /* margin-left: auto;
  margin-right: auto; */
  /* background-image: url("../media/8334699330_72e6c0365c_o_d.jpg"); */
  background-image: url("https://sbhatti534602210.github.io/facwork/media/8334699330_72e6c0365c_o_d.jpg");
  /* do I want image to scroll or not? maybe if I have more text. */
  /* background-attachment: fixed;  */
  /* background-position: center; */

  /* opacity: 1; */
  background-repeat: no-repeat;
  background-size: cover;
  /* text-align: center; */
  padding: 1rem;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: larger;
}
.coverimage a {
  color: white;
}
.coverimage a:hover {
  color: #d9d9d9;
}
.coverimage a:visited {
  color: white;
}

.bannerimage {
  max-width: 60rem;
  /* align-items: center;
  justify-content: center;
  position: fixed; */
}

.center {
  width: 95vw;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.x3grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
/* .column-lg {
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
} */
.x3grid ul {
  display: inherit;
  grid-template-columns: inherit;
  gap: inherit;
}
.x3grid li {
  list-style-type: none;
}
.x3grid img {
  width: 15rem;
  height: auto;
  /* padding: 0.75rem; */
}

.code {
  font-family: "Courier New", Courier, monospace;
}
.codebox {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  border: 1px solid #353535;
  padding: 1rem;
}

footer {
  background-color: #3c6e71;
  /* font-size: 1rem; */
  max-width: 60rem;
}

footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: #d9d9d9;
}
footer a:visited {
  color: white;
}
